.section3{
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 75px;

    margin-top: 85px;
}

.section3-text{
    max-width: 556px;
}

.section3-title{
    max-width: 603px;

    margin-bottom: 35px;

    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 61px;

    color: #ffffff;
}

.section3-img{
    background: radial-gradient(circle, rgba(24,69,163,.9) 0%, rgba(18,19,42,1) 70%);
}