.section7-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-title{
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 26px;

    color: #962f79
}

.section7-title{
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;

    margin-bottom: 37px;

    color: #ffffff;
}

.section7-text{
    margin-bottom: 80px;
}

.map{
    margin: 0 auto;

    max-width: 1400px;
    padding-bottom: 180px;
}