
.button{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;

    border: 2px solid #ffffff;
    padding: .65em 2em;
    transition: all .1s ease-out;
}

.button:hover{
    color: #12132A;
    background-color: #ffffff;
    cursor: pointer;
}