.slide {
    max-width: 500px;


}

.radial-gradient {
    position: absolute;
    top: 0;
    left: 0;

}

.slide h1 {
    min-height: 70%;

    font-size: Plus Jakarta Sans, sans-serif;
    font-weight: 400;
    font-size: 90px;

    margin-bottom: 40px;

    color: #ffffff;
    
}

.slide p {
    min-height: 100px;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;

    color: #767799;
    z-index: 2;
}

@media (max-width: 992px){
    .slide{
        width: 100%;
        margin: 0 auto;
    }

    
    .slide h1,
    .slide p{
        width: 700px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .slide h1 {
        font-size: 75px;
    }
}

@media (max-width: 576px) {
    .slide h1 {
        font-size: 55px;
        width: 500px;

        padding-left: 40px;
    }

    .slide p {
        /* font-size: 14px; */
        width: 500px;
        padding-left: 40px;

    }
}