.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 190px;
    /* margin-bottom: 200px; */
}

.section6-title{
    font-family: Plus Jakrta Sans, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 62px;
    letter-spacing: -2px;

    margin-bottom: 35px;

    color: #ffffff;

}

.section6-title::before,
.section6-title::after{
    color: #c23894;
    font-size: 110px; /* Adjust the size as needed */
    margin: 0 5px;  /* Adds space between the quotes and the content */
}

.section6-title::before{
    content: '“';
}

.section6-title::after{
    content: '”';
}

.section6-text{
    max-width: 660px;

    margin-bottom: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    color: #767799;

    text-align: center;
}

.testemonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    column-gap: 120px;
    row-gap: 650px;

    margin-bottom: 818px;
}

.card{
    display: block;
}

@media(max-width: 1200px){
    .testemonials{
        padding-right: 50px;
    }
}