@font-face {
  font-family: 'Inter';
  src: local(Inter), url(./assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf), format('ttf')
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local(Plus_Jakarta_Sans), url(./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf), format('ttf')
}

@font-face {
  font-family: 'Poppins';
  src: local(Poppins), url(./assets/fonts/Poppins/Poppins-Black.ttf), format('ttf')
}

body{
  background-color: #12132A;
}

/* .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

html, body {
  overflow-x: hidden;
}

/* * {
  max-width: 100%;
  box-sizing: border-box;
} */

html {
  box-sizing: border-box;
}



